<?DOCTYPE html>

<html> 

<head>
    <title>About</title>
    <link rel="icon" href="/images/weather.png">
    <link rel = 'stylesheet' href = './css/styles.css'> 
</head>

<body>

    <div class="main-content">
    {{>header}}
    <p>This utilizes the Mapbox API in getting the coordinates, longitude and latitude, of the most relevant location that the user inputted. </p>
    <p>It then passes the coordinates into the WeatherStack API to get the weather data of the specified location.</p>
    <img class="portrait" src = "/images/naruto.jpeg">
    <p>This is a picture of the most nerfed MF in the history of Anime.</p>
    <p>P.S. My knowledge in HTML/CSS is zero so I apologize for the crappy formating.</p>
    </div>

    {{>footer}}
</body>

</html>